*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(66, 121, 122);
    background-image: linear-gradient(aliceblue, cadetblue);
}

nav{
    display: flex;
    background-color: rgb(154, 211, 213);
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

nav2{
    display: flex;
    background-color: cadetblue;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

ul{
    list-style: none;   
}

li{
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;
    margin: 2rem;
}

section{
    width: 96%;
    margin: 2%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: cadetblue;
}

.container{
    max-width: 800px;
    padding: 10%;
    margin: 0 -8%;
    line-height: 0.8;
}

.container h2{
    margin-bottom: 4rem;
}

.container h2::after{
    content: ' ';
    display: block;
    width: 60%;
    height: 6px;
    background-color: cadetblue;
    margin: 1rem auto 0;
}

.about{
background-image: linear-gradient(aliceblue, rgb(207, 225, 242));
}

section2{
    width: 96%;
    margin: 2%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: cadetblue;
}

.projects{
    background-image: linear-gradient(aliceblue, rgb(207, 225, 242));
    height: 350vh;
    flex-direction: column;
}

.contact{
background-image: linear-gradient(aliceblue, rgb(207, 225, 242));
}

img{
    max-width: 500px;
    margin: 0 auto;
}


.hprojects{
    position: absolute;
    bottom: -700px;
}

h3{
    font-size: 4rem;
    color: cadetblue;
}

txt{
    font-size: 2rem;
}

.hskills{
    position: absolute;
    height: 45%;
    font-size: 5rem;
}

.skills{
    margin: 2%;
    position: relative;
    font-size: 4rem;
}


p{
    font-size: 3rem;
}

subsection{
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
}

.seesimg{
    max-width: 300px;
    height: auto;
    position: relative;
    left: -125px;
}

.jkerimg{
    max-width: 420px;
    height: auto;
    position: relative;
    left: -125px;
}

.hcontact{
    position: absolute;
    bottom: 75%;
    font-size: 5rem;
}

.contact{
    margin: 2%;
    position: relative;
    font-size: 4rem;
}

.socialmedia{
    margin: 2%;
    max-width: 300px;
}
.socialmediasm{
    position: relative;
    margin-bottom: 15px;
    margin-top: 30px;
    max-width: 30px;
}

#ximg{
    margin: -3%;
}